In [6]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 8.1 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jesica/.local/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.23.2
  Downloading numpy-2.2.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 7.9 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 KB 3.9 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as info

In [9]:
datos = info.read_excel('DATOS-PRACTICA-CEUNSASB-GRANDE.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [1]:
!pip install -U numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /usr/lib/python3/dist-packages (1.21.5)
Collecting numpy
  Downloading numpy-2.2.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 7.2 MB/s eta 0:00:00:00:0100:01
Installing collected packages: numpy
Successfully installed numpy-2.2.4

In [2]:
!pip install -U scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in /usr/lib/python3/dist-packages (1.8.0)
Collecting scipy
  Downloading scipy-1.15.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.6/37.6 MB 4.1 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: numpy<2.5,>=1.23.5 in /home/jesica/.local/lib/python3.10/site-packages (from scipy) (2.2.4)
Installing collected packages: scipy
Successfully installed scipy-1.15.2

In [3]:
!pip install -U matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /usr/lib/python3/dist-packages (3.5.1)
Collecting matplotlib
  Downloading matplotlib-3.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 6.1 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/lib/python3/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib) (21.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: numpy>=1.23 in /home/jesica/.local/lib/python3.10/site-packages (from matplotlib) (2.2.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/lib/python3/dist-packages (from matplotlib) (4.29.1)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (324 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 325.0/325.0 KB 3.7 MB/s eta 0:00:0000:01
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib) (2.8.1)
Installing collected packages: contourpy, matplotlib
Successfully installed contourpy-1.3.1 matplotlib-3.10.1

In [4]:
!pip install -U altair

Defaulting to user installation because normal site-packages is not writeable
Collecting altair
  Downloading altair-5.5.0-py3-none-any.whl (731 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 731.2/731.2 KB 2.1 MB/s eta 0:00:0000:0100:01
Collecting narwhals>=1.14.2
  Downloading narwhals-1.34.1-py3-none-any.whl (325 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 325.5/325.5 KB 4.2 MB/s eta 0:00:0000:01
Requirement already satisfied: jsonschema>=3.0 in /usr/lib/python3/dist-packages (from altair) (3.2.0)
Requirement already satisfied: jinja2 in /home/jesica/.local/lib/python3.10/site-packages (from altair) (3.1.2)
Requirement already satisfied: packaging in /usr/lib/python3/dist-packages (from altair) (21.3)
Collecting typing-extensions>=4.10.0
  Using cached typing_extensions-4.13.1-py3-none-any.whl (45 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /home/jesica/.local/lib/python3.10/site-packages (from jinja2->altair) (2.1.2)
Installing collected packages: typing-extensions, narwhals, altair
Successfully installed altair-5.5.0 narwhals-1.34.1 typing-extensions-4.13.1

In [5]:
!pip install -U seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 KB 1.2 MB/s eta 0:00:00a 0:00:01
Collecting pandas>=1.2
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 6.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/jesica/.local/lib/python3.10/site-packages (from seaborn) (2.2.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/jesica/.local/lib/python3.10/site-packages (from seaborn) (3.10.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.29.1)
Requirement already satisfied: pillow>=8 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.0.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/jesica/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.4.7)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.2->seaborn) (2022.1)
Collecting python-dateutil>=2.7
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Collecting tzdata>=2022.7
  Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: tzdata, python-dateutil, pandas, seaborn
Successfully installed pandas-2.2.3 python-dateutil-2.9.0.post0 seaborn-0.13.2 tzdata-2025.2

In [7]:
!pip install -U xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 KB 535.3 kB/s eta 0:00:00 0:00:01m
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [8]:
!pip install -U xlwt

Defaulting to user installation because normal site-packages is not writeable
Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.0/100.0 KB 429.8 kB/s eta 0:00:00a 0:00:01
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [9]:
!pip install -U xlutils

Defaulting to user installation because normal site-packages is not writeable
Collecting xlutils
  Downloading xlutils-2.0.0-py2.py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.1/55.1 KB 306.0 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: xlwt>=0.7.4 in /home/jesica/.local/lib/python3.10/site-packages (from xlutils) (1.3.0)
Requirement already satisfied: xlrd>=0.7.2 in /home/jesica/.local/lib/python3.10/site-packages (from xlutils) (2.0.1)
Installing collected packages: xlutils
Successfully installed xlutils-2.0.0

In [10]:
!pip install -U pyexcel

Defaulting to user installation because normal site-packages is not writeable
Collecting pyexcel
  Downloading pyexcel-0.7.2-py2.py3-none-any.whl (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.8/88.8 KB 390.8 kB/s eta 0:00:00a 0:00:01
Collecting pyexcel-io>=0.6.2
  Downloading pyexcel_io-0.6.7-py2.py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.5/44.5 KB 681.0 kB/s eta 0:00:00a 0:00:01
Collecting texttable>=0.8.2
  Downloading texttable-1.7.0-py2.py3-none-any.whl (10 kB)
Collecting lml>=0.2.0
  Downloading lml-0.2.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: texttable, lml, pyexcel-io, pyexcel
Successfully installed lml-0.2.0 pyexcel-0.7.2 pyexcel-io-0.6.7 texttable-1.7.0

In [11]:
!pip install -U openpyxls

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement openpyxls (from versions: none)
ERROR: No matching distribution found for openpyxls

In [12]:
!pip install -U plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in /usr/lib/python3/dist-packages (5.4.0)
Collecting plotly
  Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.8/14.8 MB 5.7 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: packaging in /usr/lib/python3/dist-packages (from plotly) (21.3)
Requirement already satisfied: narwhals>=1.15.1 in /home/jesica/.local/lib/python3.10/site-packages (from plotly) (1.34.1)
Installing collected packages: plotly
Successfully installed plotly-6.0.1

In [13]:
!pip install -U openpyxls

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement openpyxls (from versions: none)
ERROR: No matching distribution found for openpyxls

In [14]:
!pip install -U pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/jesica/.local/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jesica/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/jesica/.local/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.22.4 in /home/jesica/.local/lib/python3.10/site-packages (from pandas) (2.2.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
!pip install -U openpyxls

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement openpyxls (from versions: none)
ERROR: No matching distribution found for openpyxls

In [16]:
import pandas as info

In [17]:
pip install -U pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in /usr/lib/python3/dist-packages (22.0.2)
Collecting pip
  Downloading pip-25.0.1-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 3.1 MB/s eta 0:00:0000:0100:010m
Installing collected packages: pip
Successfully installed pip-25.0.1
Note: you may need to restart the kernel to use updated packages.

In [18]:
!pip list

Package               Version
--------------------- ----------------
altair                5.5.0
appdirs               1.4.4
apturl                0.5.2
attrs                 21.2.0
Babel                 2.8.0
bcrypt                3.2.0
beautifulsoup4        4.10.0
beniget               0.4.1
blinker               1.4
Brlapi                0.8.3
Brotli                1.0.9
certifi               2020.6.20
chardet               4.0.0
click                 8.0.3
colorama              0.4.4
command-not-found     0.3
contourpy             1.3.1
cryptography          3.4.8
cupshelpers           1.0
cycler                0.11.0
dbus-python           1.2.18
decorator             4.4.2
defer                 1.0.6
distlib               0.3.4
distro                1.7.0
distro-info           1.1+ubuntu0.2
duplicity             0.8.21
et_xmlfile            2.0.0
fasteners             0.14.1
filelock              3.6.0
Flask                 2.2.3
fonttools             4.29.1
fs                    2.4.12
future                0.18.2
gast                  0.5.2
GDAL                  3.4.1
html5lib              1.1
httplib2              0.20.2
idna                  3.3
importlib-metadata    4.6.4
ipython_genutils      0.2.0
itsdangerous          2.1.2
jeepney               0.7.1
Jinja2                3.1.2
jsonschema            3.2.0
jupyter-core          4.9.1
keyring               23.5.0
kiwisolver            1.3.2
language-selector     0.1
launchpadlib          1.10.16
lazr.restfulclient    0.14.4
lazr.uri              1.0.6
lml                   0.2.0
lockfile              0.12.2
louis                 3.20.0
lxml                  4.8.0
lz4                   3.1.3+dfsg
macaroonbakery        1.3.1
Mako                  1.1.3
MarkupSafe            2.1.2
matplotlib            3.10.1
monotonic             1.6
more-itertools        8.10.0
mpmath                0.0.0
narwhals              1.34.1
nbformat              5.1.3
netifaces             0.11.0
numpy                 2.2.4
oauthlib              3.2.0
olefile               0.46
openpyxl              3.1.5
OWSLib                0.25.0
packaging             21.3
pandas                2.2.3
paramiko              2.9.3
pbr                   5.8.0
pexpect               4.8.0
Pillow                9.0.1
pip                   22.0.2
platformdirs          2.5.1
plotly                6.0.1
ply                   3.11
protobuf              3.12.4
psycopg2              2.9.2
ptyprocess            0.7.0
pycairo               1.20.1
pycups                2.0.1
pyexcel               0.7.2
pyexcel-io            0.6.7
Pygments              2.11.2
PyGObject             3.42.1
PyJWT                 2.3.0
pymacaroons           0.13.0
PyNaCl                1.5.0
pyparsing             2.4.7
pyproj                3.3.0
PyQt5                 5.15.6
PyQt5-sip             12.9.1
pyRFC3339             1.1
pyrsistent            0.18.1
python-apt            2.4.0+ubuntu4
python-dateutil       2.9.0.post0
python-debian         0.1.43+ubuntu1.1
pythran               0.10.0
pytz                  2022.1
pyxdg                 0.27
PyYAML                5.4.1
QScintilla            2.11.6
reportlab             3.6.8
requests              2.25.1
scipy                 1.15.2
seaborn               0.13.2
SecretStorage         3.3.1
setuptools            59.6.0
six                   1.16.0
soupsieve             2.3.1
sympy                 1.9
systemd-python        234
tenacity              6.3.1
texttable             1.7.0
traitlets             5.1.1
typing_extensions     4.13.1
tzdata                2025.2
ubuntu-drivers-common 0.0.0
ubuntu-pro-client     8001
ufoLib2               0.13.1
ufw                   0.36.1
unattended-upgrades   0.1
unicodedata2          14.0.0
urllib3               1.26.5
usb-creator           0.3.7
virtualenv            20.13.0+ds
wadllib               1.3.6
webencodings          0.5.1
Werkzeug              2.2.3
wheel                 0.37.1
xdg                   5
xkit                  0.0.0
xlrd                  2.0.1
xlutils               2.0.0
xlwt                  1.3.0
zipp                  1.0.0

In [19]:
datos = info.read_excel('DATOS-PRACTICA-CEUNSASB-GRANDE.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [21]:
!pip install -U openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/jesica/.local/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/jesica/.local/lib/python3.10/site-packages (from openpyxl) (2.0.0)

In [22]:
datos = info.read_excel('DATOS-PRACTICA-CEUNSASB-GRANDE.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [23]:
!pip install -U openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/jesica/.local/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/jesica/.local/lib/python3.10/site-packages (from openpyxl) (2.0.0)

In [24]:
datos = info.read_excel('DATOS-PRACTICA-CEUNSASB-GRANDE.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [25]:
!pip install -U pyexcel

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyexcel in /home/jesica/.local/lib/python3.10/site-packages (0.7.2)
Requirement already satisfied: pyexcel-io>=0.6.2 in /home/jesica/.local/lib/python3.10/site-packages (from pyexcel) (0.6.7)
Requirement already satisfied: texttable>=0.8.2 in /home/jesica/.local/lib/python3.10/site-packages (from pyexcel) (1.7.0)
Requirement already satisfied: lml>=0.2.0 in /home/jesica/.local/lib/python3.10/site-packages (from pyexcel) (0.2.0)

In [26]:
!pip install -U openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/jesica/.local/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/jesica/.local/lib/python3.10/site-packages (from openpyxl) (2.0.0)

In [27]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/jesica/.local/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/jesica/.local/lib/python3.10/site-packages (from openpyxl) (2.0.0)

In [28]:
import sys
print(sys.executable)

/bin/python3.11

In [29]:
datos = info.read_excel('DATOS-PRACTICA-CEUNSASB-GRANDE.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [31]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/jesica/.local/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /home/jesica/.local/lib/python3.11/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jesica/.local/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/jesica/.local/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pandas as info

In [33]:
datos = info.read_excel('./DATOS-PRACTICA-CEUNSASB-GRANDE.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [34]:
import sys
print(sys.executable)

/bin/python3.11

In [35]:
import pandas as info

In [36]:
datos = info.read_excel('./DATOS-PRACTICA-CEUNSASB-GRANDE.xlsx')

In [37]:
datos.describe()

               CLASE
count  547502.000000
mean     1957.301708
std       200.852953
min         0.000000
25%      1964.000000
50%      1980.000000
75%      1992.000000
max      9999.000000

In [38]:
datos.head()

  TIPO DE EJEMPLAR             NOMBRE  CLASE GENERO           SECCION
0           DNI-EA     ROXANA SILVANA   1976      F  CIUDAD-PRINCIPAL
1           DNI-EB  ANGÉLICA HERMINIA   1959      F  CIUDAD-PRINCIPAL
2           DNI-EB    ALVARO EZEQUIEL   1998      M  CIUDAD-PRINCIPAL
3           DNI-EB   CARLA EVANGELINA   1997      F  CIUDAD-PRINCIPAL
4           DNI-EA            CLAUDIA   1966      F  CIUDAD-PRINCIPAL

In [39]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547502 entries, 0 to 547501
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   TIPO DE EJEMPLAR  547502 non-null  object
 1   NOMBRE            547499 non-null  object
 2   CLASE             547502 non-null  int64
 3   GENERO            547502 non-null  object
 4   SECCION           547502 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.9+ MB

In [40]:
datos

,TIPO DE EJEMPLAR,NOMBRE,CLASE,GENERO,SECCION
0,DNI-EA,ROXANA SILVANA,1976,F,CIUDAD-PRINCIPAL
1,DNI-EB,ANGÉLICA HERMINIA,1959,F,CIUDAD-PRINCIPAL
2,DNI-EB,ALVARO EZEQUIEL,1998,M,CIUDAD-PRINCIPAL
3,DNI-EB,CARLA EVANGELINA,1997,F,CIUDAD-PRINCIPAL
4,DNI-EA,CLAUDIA,1966,F,CIUDAD-PRINCIPAL
...,...,...,...,...,...
547497,DNI-EB,YAZMIN ANTONELA,2001,F,ZONA-SANTUARIO
547498,DNI-EA,BRAIAN EFRAIN PABLO,2000,M,ZONA-SANTUARIO
547499,DNI-EC,MALVINA NOELIA DEL CORAZON DE JESUS,1991,F,ZONA-SANTUARIO
547500,NO CONSTA,PRUDENCIA FLORENCIA,0,F,ZONA-SANTUARIO
547501,DNI,ELEUTERIO,1940,M,ZONA-SANTUARIO

In [42]:
datos['GENERO']

0         F
1         F
2         M
3         F
4         F
         ..
547497    F
547498    M
547499    F
547500    F
547501    M
Name: GENERO, Length: 547502, dtype: object

In [46]:
datos

,TIPO DE EJEMPLAR,NOMBRE,CLASE,GENERO,SECCION
0,DNI-EA,ROXANA SILVANA,1976,F,CIUDAD-PRINCIPAL
1,DNI-EB,ANGÉLICA HERMINIA,1959,F,CIUDAD-PRINCIPAL
2,DNI-EB,ALVARO EZEQUIEL,1998,M,CIUDAD-PRINCIPAL
3,DNI-EB,CARLA EVANGELINA,1997,F,CIUDAD-PRINCIPAL
4,DNI-EA,CLAUDIA,1966,F,CIUDAD-PRINCIPAL
...,...,...,...,...,...
547497,DNI-EB,YAZMIN ANTONELA,2001,F,ZONA-SANTUARIO
547498,DNI-EA,BRAIAN EFRAIN PABLO,2000,M,ZONA-SANTUARIO
547499,DNI-EC,MALVINA NOELIA DEL CORAZON DE JESUS,1991,F,ZONA-SANTUARIO
547500,NO CONSTA,PRUDENCIA FLORENCIA,0,F,ZONA-SANTUARIO
547501,DNI,ELEUTERIO,1940,M,ZONA-SANTUARIO

In [48]:
datos['TIPO DE EJEMPLAR']

0            DNI-EA
1            DNI-EB
2            DNI-EB
3            DNI-EB
4            DNI-EA
            ...
547497       DNI-EB
547498       DNI-EA
547499       DNI-EC
547500    NO CONSTA
547501          DNI
Name: TIPO DE EJEMPLAR, Length: 547502, dtype: object

In [ ]:
datos.sample(3)
# 3 filas aleatorias

       TIPO DE EJEMPLAR                NOMBRE  CLASE GENERO           SECCION
52050               DNI  LEANDRO NAHUEL DE LA   1990      M  CIUDAD-PRINCIPAL
229563           DNI-EA         BENITA RAMONA   1964      F    PUEBLO-ANTIGUO
52875            DNI-EA           MARI ESTELA   1950      F  CIUDAD-PRINCIPAL

In [ ]:
datos.shape
# Dimensiones del DataFrame (filas, columnas)

(547502, 5)

In [ ]:
datos.columns
#nombre de las columnas

Index(['TIPO DE EJEMPLAR', 'NOMBRE', 'CLASE', 'GENERO', 'SECCION'], dtype='object')

In [ ]:
datos.info()
# informacion general

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547502 entries, 0 to 547501
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   TIPO DE EJEMPLAR  547502 non-null  object
 1   NOMBRE            547499 non-null  object
 2   CLASE             547502 non-null  int64
 3   GENERO            547502 non-null  object
 4   SECCION           547502 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.9+ MB

In [ ]:
datos.tail()
# ultimas 5 filas

,TIPO DE EJEMPLAR,NOMBRE,CLASE,GENERO,SECCION
547497,DNI-EB,YAZMIN ANTONELA,2001,F,ZONA-SANTUARIO
547498,DNI-EA,BRAIAN EFRAIN PABLO,2000,M,ZONA-SANTUARIO
547499,DNI-EC,MALVINA NOELIA DEL CORAZON DE JESUS,1991,F,ZONA-SANTUARIO
547500,NO CONSTA,PRUDENCIA FLORENCIA,0,F,ZONA-SANTUARIO
547501,DNI,ELEUTERIO,1940,M,ZONA-SANTUARIO

In [ ]:
# FILTRAR DATOS
# filtra una fila donde la clase es mayor igual a 2000
datos[(datos['CLASE'] >= 2000)]

       TIPO DE EJEMPLAR                 NOMBRE  CLASE GENERO           SECCION
30               DNI-EA            JUAN AMADEO   2002      M  CIUDAD-PRINCIPAL
32               DNI-EA         JUAN FRANCISCO   2000      M  CIUDAD-PRINCIPAL
43               DNI-EA         LAUTARO GASTON   2000      M  CIUDAD-PRINCIPAL
78               DNI-EA        BRISA ESTEFANIA   2002      F  CIUDAD-PRINCIPAL
82               DNI-EA           JUAN IGNACIO   2001      M  CIUDAD-PRINCIPAL
...                 ...                    ...    ...    ...               ...
547467           DNI-EA            SOFIA LUISA   2002      F    ZONA-SANTUARIO
547481           DNI-EA  KARIN ANDRES FERNANDO   2002      M    ZONA-SANTUARIO
547487           DNI-EA          NADIA TORIBIA   2002      F    ZONA-SANTUARIO
547497           DNI-EB        YAZMIN ANTONELA   2001      F    ZONA-SANTUARIO
547498           DNI-EA    BRAIAN EFRAIN PABLO   2000      M    ZONA-SANTUARIO

[31515 rows x 5 columns]

In [ ]:
# Filtrar datos 
# filtra datos por una condicion multiple
# en este caso se flitraron las clases menores iguales a 2000 y se pide que el genero sea igual a masculino
datos[(datos['CLASE'] <=2000) & (datos['GENERO'] == 'M')]

       TIPO DE EJEMPLAR               NOMBRE  CLASE GENERO           SECCION
2                DNI-EB      ALVARO EZEQUIEL   1998      M  CIUDAD-PRINCIPAL
5                DNI-EA             FAUSTINO   1960      M  CIUDAD-PRINCIPAL
7                DNI-EA     GABRIEL SANTIAGO   1996      M  CIUDAD-PRINCIPAL
9                DNI-EA        JULIO ERNESTO   1948      M  CIUDAD-PRINCIPAL
12               DNI-EB             PROSPERO   1941      M  CIUDAD-PRINCIPAL
...                 ...                  ...    ...    ...               ...
547494              DNI      SANTOS CAYETANO   1975      M    ZONA-SANTUARIO
547495             DNIT             SILVERIO   1974      M    ZONA-SANTUARIO
547496           DNI-EA    WALDO JUSTO YAMIL   1999      M    ZONA-SANTUARIO
547498           DNI-EA  BRAIAN EFRAIN PABLO   2000      M    ZONA-SANTUARIO
547501              DNI            ELEUTERIO   1940      M    ZONA-SANTUARIO

[261330 rows x 5 columns]

In [ ]:
# Estamos filtrando datos especifico como los  de la columna 'TIPO DE EJEMPLAR'
datos[datos['TIPO DE EJEMPLAR'].isin(['DNI', 'DNI-EB'])]

       TIPO DE EJEMPLAR              NOMBRE  CLASE GENERO           SECCION
1                DNI-EB   ANGÉLICA HERMINIA   1959      F  CIUDAD-PRINCIPAL
2                DNI-EB     ALVARO EZEQUIEL   1998      M  CIUDAD-PRINCIPAL
3                DNI-EB    CARLA EVANGELINA   1997      F  CIUDAD-PRINCIPAL
6                DNI-EB  FLORENCIA AGUSTINA   1998      F  CIUDAD-PRINCIPAL
10                  DNI    MARIANA PATRICIA   1991      F  CIUDAD-PRINCIPAL
...                 ...                 ...    ...    ...               ...
547485              DNI   MERCEDES JOSEFINA   1982      F    ZONA-SANTUARIO
547493           DNI-EB      ROSALIA ANALIA   1990      F    ZONA-SANTUARIO
547494              DNI     SANTOS CAYETANO   1975      M    ZONA-SANTUARIO
547497           DNI-EB     YAZMIN ANTONELA   2001      F    ZONA-SANTUARIO
547501              DNI           ELEUTERIO   1940      M    ZONA-SANTUARIO

[190741 rows x 5 columns]

In [ ]:
# contar y agrupar
# ahora vamos a contar cuantas veces aparece cada valor en la columna tipo de ejemplar
datos['TIPO DE EJEMPLAR'].value_counts()

TIPO DE EJEMPLAR
DNI-EA       227310
DNI          115507
DNI-EB        75234
DNID          42358
NO CONSTA     35269
DNI-EC        21594
DNIT          14675
DNI-ED         5352
DNIC           4520
DNI-EE         1323
DNI5           1278
LD              985
LC              641
DNI6            370
DNI-EF          366
DNI-EG          110
LT              103
DNI7             95
DNI-EH           38
L7               29
L18              28
L9               26
DNI8             24
L5               23
L                20
L15              19
L8               19
L6               19
L12              16
L11              15
L14              14
L10              14
DNI-EI           14
L17              14
DNI9             12
L16              11
L13              11
L19               9
DNI10             7
DNI-ES            7
L20               5
EA-VERDE          3
DNI-EJ            3
DNI-ER            2
DNI-EM            2
DNI14             1
DNI-EL            1
DNI-AA            1
DNI-AB            1
DNI-EK            1
DNI11             1
DNI-EQ            1
DNI-EO            1
Name: count, dtype: int64

In [59]:
datos['GENERO'].value_counts()

GENERO
F    276936
M    270566
Name: count, dtype: int64

In [60]:
datos['CLASE'].value_counts()

CLASE
1996    14168
1998    13964
1995    13956
1999    13781
1997    13779
        ...
1916      112
1917       41
9999        9
1914        2
1915        1
Name: count, Length: 92, dtype: int64

In [61]:
# agrupar por clase y contar por genero
datos.groupby('CLASE')['GENERO'].value_counts()

CLASE  GENERO
0      F         5513
1914   F            1
       M            1
1915   M            1
1916   M           96
                 ...
2002   M         3280
       F         3157
2003   M          586
       F          531
9999   F            9
Name: count, Length: 181, dtype: int64

In [ ]:
# agrupamos por dos columnas
datos.groupby(['GENERO', 'NOMBRE']).size()

GENERO  NOMBRE
F       A MARIA DE LOS A     1
        ABDIAS               1
        ABDONA               2
        ABDULIA DEL VALLE    1
        ABDULIA IRENE        1
                            ..
M       ZURITA JOAQUIN       1
        ZUYGART DIEGO A      1
        ÁNGEL MARÍA          1
        ÁNGEL MATIAS         1
        ÑAWI JOSE GABRIEL    1
Length: 160925, dtype: int64

In [63]:
datos[datos['NOMBRE'] == 'ANGEL']

       TIPO DE EJEMPLAR NOMBRE  CLASE GENERO           SECCION
4319                DNI  ANGEL   1949      M  CIUDAD-PRINCIPAL
15229         NO CONSTA  ANGEL   1955      M  CIUDAD-PRINCIPAL
24302            DNI-EB  ANGEL   1947      M  CIUDAD-PRINCIPAL
30585            DNI-EA  ANGEL   1930      M  CIUDAD-PRINCIPAL
34870            DNI-EC  ANGEL   1955      M  CIUDAD-PRINCIPAL
...                 ...    ...    ...    ...               ...
538017           DNI-EA  ANGEL   1959      M      ZONA-FABRICA
540342             DNID  ANGEL   1953      M   PUEBLO-DESCANSO
540711               LD  ANGEL   1939      M   PUEBLO-DESCANSO
541740           DNI-EA  ANGEL   1956      M   PUEBLO-DESCANSO
543196             DNID  ANGEL   1967      M    ZONA-SANTUARIO

[196 rows x 5 columns]

In [64]:
datos[datos['NOMBRE'] == 'MIGUEL']

       TIPO DE EJEMPLAR  NOMBRE  CLASE GENERO           SECCION
108              DNI-EA  MIGUEL   1952      M  CIUDAD-PRINCIPAL
497              DNI-EC  MIGUEL   1960      M  CIUDAD-PRINCIPAL
1064             DNI-EC  MIGUEL   1975      M  CIUDAD-PRINCIPAL
3950                DNI  MIGUEL   1933      M  CIUDAD-PRINCIPAL
6354                 LT  MIGUEL   1920      M  CIUDAD-PRINCIPAL
...                 ...     ...    ...    ...               ...
541140           DNI-EB  MIGUEL   1970      M   PUEBLO-DESCANSO
541401        NO CONSTA  MIGUEL   1955      M   PUEBLO-DESCANSO
542493        NO CONSTA  MIGUEL   1950      M   PUEBLO-DESCANSO
543205        NO CONSTA  MIGUEL   1956      M    ZONA-SANTUARIO
545700           DNI-EA  MIGUEL   1969      M    ZONA-SANTUARIO

[274 rows x 5 columns]

In [66]:
datos[datos['CLASE'] == 1989]

,TIPO DE EJEMPLAR,NOMBRE,CLASE,GENERO,SECCION
34,DNI,MARIA JIMENA,1989,F,CIUDAD-PRINCIPAL
164,DNI-EA,ALFREDO NICOLAS,1989,M,CIUDAD-PRINCIPAL
172,DNI-EA,MICAELA ELIANA JEZABEL,1989,F,CIUDAD-PRINCIPAL
242,DNI-EA,MATIAS,1989,M,CIUDAD-PRINCIPAL
246,DNI-EA,PABLO MARTIN,1989,M,CIUDAD-PRINCIPAL
...,...,...,...,...,...
547337,DNI,WALTER JESUS ANIBAL,1989,M,ZONA-SANTUARIO
547342,DNI,GERMAN ANIBAL,1989,M,ZONA-SANTUARIO
547380,DNI,MARTINA ZULEMA,1989,F,ZONA-SANTUARIO
547395,DNI,ALEXIS HERNAN ROLANDO,1989,M,ZONA-SANTUARIO
547425,DNI,LORENZO ABELARDO,1989,M,ZONA-SANTUARIO

In [68]:
datos.columns

Index(['TIPO DE EJEMPLAR', 'NOMBRE', 'CLASE', 'GENERO', 'SECCION'], dtype='object')

In [69]:
datos['NOMBRE']

0                              ROXANA SILVANA
1                           ANGÉLICA HERMINIA
2                             ALVARO EZEQUIEL
3                            CARLA EVANGELINA
4                                     CLAUDIA
                         ...
547497                        YAZMIN ANTONELA
547498                    BRAIAN EFRAIN PABLO
547499    MALVINA NOELIA DEL CORAZON DE JESUS
547500                    PRUDENCIA FLORENCIA
547501                              ELEUTERIO
Name: NOMBRE, Length: 547502, dtype: object

In [72]:
datos[datos['NOMBRE'] == 'YAZMIN ANTONELA']

       TIPO DE EJEMPLAR           NOMBRE  CLASE GENERO           SECCION
101863           DNI-EA  YAZMIN ANTONELA   1997      F  CIUDAD-PRINCIPAL
547497           DNI-EB  YAZMIN ANTONELA   2001      F    ZONA-SANTUARIO

In [73]:
#ver los nombre sin repetir
datos['NOMBRE'].unique()

array(['ROXANA SILVANA', 'ANGÉLICA HERMINIA', 'ALVARO EZEQUIEL', ...,
       'BRAIAN EFRAIN PABLO', 'MALVINA NOELIA DEL CORAZON DE JESUS',
       'PRUDENCIA FLORENCIA'], shape=(160685,), dtype=object)

In [75]:
datos['NOMBRE'].head(15)

0         ROXANA SILVANA
1      ANGÉLICA HERMINIA
2        ALVARO EZEQUIEL
3       CARLA EVANGELINA
4                CLAUDIA
5               FAUSTINO
6     FLORENCIA AGUSTINA
7       GABRIEL SANTIAGO
8        ILIANA PATRICIA
9          JULIO ERNESTO
10      MARIANA PATRICIA
11              NICANORA
12              PROSPERO
13               TEODORO
14        MARÍA FERNANDA
Name: NOMBRE, dtype: object

In [ ]:
# ver sin indice (como una lista)
datos['NOMBRE'].to_list()

['ROXANA SILVANA',
 'ANGÉLICA HERMINIA',
 'ALVARO EZEQUIEL',
 'CARLA EVANGELINA',
 'CLAUDIA',
 'FAUSTINO',
 'FLORENCIA AGUSTINA',
 'GABRIEL SANTIAGO',
 'ILIANA PATRICIA',
 'JULIO ERNESTO',
 'MARIANA PATRICIA',
 'NICANORA',
 'PROSPERO',
 'TEODORO',
 'MARÍA FERNANDA',
 'MARIA DEL PILAR',
 'NTALIA VERONICA',
 'ADRIANA INES',
 'SILVIA CRISTINA',
 'JORGE RENE',
 'LILIAN DEL CARMEN',
 'NALLIBE',
 'SOFÍA',
 'ANA SOFIA',
 'ROMINA ESTEFANIA',
 'MARIANA SOLEDAD',
 'BEATRIZ EMILIA',
 'DAMIAN EZEQUIEL',
 'ENRIQUE GABRIEL',
 'GABRIEL NICOLAS',
 'JUAN AMADEO',
 'JUAN CARLOS',
 'JUAN FRANCISCO',
 'MARCELO EDUARDO',
 'MARIA JIMENA',
 'MIGUEL ANTONIO',
 'VALERIA SOLEDAD',
 'CLARA ROSA',
 'ALICIA',
 'ANGELICA INES CANDELARIA',
 'BEATRIZ NOEMI',
 'CAMILA FLORENCIA',
 'IRENE',
 'LAUTARO GASTON',
 'LUIS NICOLAS',
 'LUIS PABLO',
 'MARTA GABRIELA',
 'NORA ELISBET',
 'ANTONIO FELIX',
 'ANDREA CAMILA DEL MILAGRO',
 'MIRTA EULALIA',
 'RAFAEL',
 'RITA LOURDES',
 'FERNANDO ADRIAN',
 'GASTÓN ADRIÁN',
 'JOAQUINA RITA',
 'ADRIANA ALEJANDRA',
 'MATIAS FABRICIO',
 'CARLOS ALBERTO',
 'LAURA CECILIA',
 'MARIA ISABEL',
 'MAURICIO DANIEL',
 'SEBASTIAN',
 'ANA PAULA',
 'AZUCENA',
 'CONSTANZA',
 'EZEQUIEL ALEJANDRO',
 'MARIA FLORENCIA',
 'MARIA PAULA',
 'MIGUEL ANGEL',
 'ALEJANDRO ERNESTO',
 'LILIANA CARMEN',
 'PATRICIA EUGENIA',
 'SERGIO MARCELO JOSE',
 'ANDREA VERÓNICA',
 'NATALIA DEL HUERTO',
 'VALERIA SOLEDAD',
 'VIVIANA EMILIA',
 'BRISA ESTEFANIA',
 'CELIA MARGARITA',
 'CRISTIAN IVAN',
 'GLADYS MIRIAN',
 'JUAN IGNACIO',
 'MARIA DEL VALLE',
 'MARIANA SOLEDAD',
 'OLGA ALBERTINA',
 'PABLO FERNANDO',
 'BENJAMINA MARIA',
 'IDA LOURDES',
 'JUAN JOSE',
 'MARIA ISABEL',
 'CRISTIAN RUBEN',
 'MARIA MAGDALENA',
 'MIRTA ALICIA',
 'MARIA JOSE',
 'YORYE JORGE',
 'MARCOS ALEJANDRO',
 'MIGUEL ANGEL',
 'ANGELICA RAQUEL',
 'FLORENCIA ARACELI',
 'FRANCO ARTURO',
 'GONZALO DANIEL',
 'ISABEL',
 'JOSE LEANDRO',
 'MARTA VERÓNICA',
 'JOSE FRANCISCO',
 'JUAN MIGUEL',
 'MARTA ESTER',
 'MIGUEL',
 'MIGUEL JULIO',
 'OTILIO ALBERTO',
 'PILAR',
 'HECTOR RODOLFO',
 'FACUNDO MARTIN',
 'MARIA FLORENCIA',
 'FACUNDO RAUL',
 'ALVARO SEBASTIAN',
 'ANDRES BACILIO',
 'ARIANA SOL AGUSTINA',
 'BENITO GABRIEL',
 'CASIMIRA',
 'CELESTE ROCÍO DEL CARMEN',
 'CELSO ALEJANDRO',
 'ELBA LUCIA',
 'EMMANUEL LEONARDO',
 'GABRIELA DEL CARMEN',
 'IRMA HAYDEE',
 'ISMAEL ALEJANDRO EZEQUIEL',
 'JAVIER ALEJANDRO',
 'JUAN ALEJANDRO',
 'JUAN PABLO ALEJANDRO',
 'JULIO ALBERTO',
 'LILIANA MARIA DEL ROSARIO',
 'LORENA SOFIA SOLEDAD',
 'MARCOS RAMIRO',
 'MARÍA ANGÉLICA',
 'MARIA DEL CARMEN',
 'MIRTA MARIA DEL VALLE',
 'RICARDO RAFAEL',
 'SOFIA AGUSTINA',
 'MÓNICA YOLANDA',
 'NORMA DEL VALLE',
 'SANTOS REMBERTO',
 'MARINA LUCIANA',
 'ALEJANDRA GABRIELA',
 'JOSE LUIS PASCUAL',
 'ROSA MARIA LUISA',
 'FABIAN ROMAN',
 'MARIA CONSUELO',
 'CRISTINA DEL ROSARIO',
 'ALBIANA GABRIELA DEL ROSARIO',
 'ANA CECILIA',
 'DIEGO EMANUEL',
 'GENARO',
 'LILIA BEATRIZ',
 'MARIA DE LOS ANGELES JOAQUINA',
 'CAMILA',
 'JOSE ANDRES',
 'FRANCISCO JOSE',
 'MARIA GABRIELA',
 'LISANDRO',
 'EMILIA FABIOLA',
 'MARIA CAMILA',
 'RICARDO',
 'ALFREDO NICOLAS',
 'RICARDO JOSE LUIS',
 'ANA CAROLINA',
 'DANIEL ALEJANDRO',
 'FERNANDA GABRIELA',
 'HUASCAR EDUARDO',
 'JULIO RICARDO',
 'MARIA CRISTINA',
 'MICAELA ELIANA JEZABEL',
 'PABLO HERNAN',
 'RITA',
 'WILFREDO SEBASTIAN',
 'CARLOS FERNANDO',
 'CARLOS RODOLFO',
 'CECILIA EVANGELINA',
 'DANIEL ALFREDO',
 'ENRIQUE RAUL',
 'FABIANA ALEJANDRA',
 'GLORIA EUFEMIA',
 'HILDA MAGDALENA',
 'JUAN CARLOS',
 'LILIANA DEL CARMEN',
 'MANUEL ALEJANDRO',
 'MARIA DEL CARMEN',
 'OLGA DEL VALLE',
 'PEDRO',
 'SILVANA ANAHÍ',
 'ARIEL ALEJANDRO',
 'CARLOS',
 'DELIA BEATRIZ',
 'FABIANA RAQUEL',
 'FERNANDO EZEQUIEL',
 'JUAN DAVID',
 'LUCIANA MABEL',
 'LUCIANA NOELIA',
 'MARCIA ROMINA',
 'MARIA ESTEHER',
 'MATIAS GABRIEL',
 'PEDRO DAVID',
 'SONIA ESTELA',
 'JOSUE SAMUEL',
 'MIGUEL ANGEL',
 'NADIA ZOE',
 'ANA GLADIS',
 'CRISTINA RAQUEL',
 'DARIO ALBERTO',
 'DARIO ALBERTO',
 'MARIA BEATRIZ',
 'CARINA BELEN',
 'PEDRO ALBERTO',
 'CARLOS DANIEL',
 'LEANDRO SEBASTIAN',
 'AGUSTINA CANDELA',
 'MARTA PATRICIA',
 'VALENTINA',
 'GLORIA BEATRIZ',
 'ILDEFONSO',
 'GREGORIA',
 'ADRIANA ELSA',
 'BEATRIZ ELIZABETH',
 'DAMIAN',
 'DELIA MARGARITA',
 'FABIOLA RENEE',
 'JAVIER',
 'JULIO EDUARDO',
 'LUIS RAMON',
 'MARTA ELSA',
 'AGUSTINA VERONICA',
 'ALEJANDRA MARIELA',
 'ANA MARIA',
 'CESAR ALEJANDRO',
 'EDUARDO HORACIO',
 'ENRIQUE',
 'JULIETA LUCIANA',
 'LEONARDO',
 'LEONARDO ALEXIS EMANUEL',
 'MARCOS ADRIAN',
 'MARIA SOLEDAD',
 'MATIAS',
 'MIKAELA ESTHER MALKA',
 'NICOLAS RODRIGO',
 'OMAR ENRIQUE',
 'PABLO MARTIN',
 'RAFAEL ALBERTO',
 'MARIA ELVIRA',
 'ADRIANA RAQUEL',
 'ANA BELEN',
 'CAROLINA',
 'CLARA NATALIA',
 'CLAUDIA MARCELA',
 'DANIEL ALEJANDRO',
 'DELGADO DOLORES',
 'DIANA NOEMI',
 'EDGARDO RAUL',
 'EMILIA',
 'FLAVIA CAROLINA',
 'HAYDEE CARLOTA',
 'IGNACIO RAFAEL',
 'ILDA ADA',
 'JESUS ANTONIO',
 'JOSEFINA',
 'JOSUE MAXIMILIANO',
 'JULIA ADELAIDA',
 'JULIO EZEQUIEL',
 'MARIA AGUSTINA',
 'MARIA DEL MAR',
 'MARIA FLORENCIA',
 'MARIA MAGDALENA',
 'MARIELA CLAUDIA',
 'MARIO DANIEL',
 'MILTON ANIBAL',
 'NELIDA DE LOS ANGELES',
 'OSVALDO MARTIN',
 'PEDRO JOSE',
 'RICARDO FELIPE',
 'RUBEN ARIEL',
 'SARA GUADALUPE',
 'SEBASTIAN EXEQUIEL',
 'SUSANA EDIT',
 'VILMA MABEL',
 'ARACELI GEOVANA',
 'JUAN MANUEL',
 'ROMINA BELEN',
 'MARIA ISABEL',
 'VIRGINIA FANNY',
 'HECTOR RAUL',
 'IVO RAUL',
 'MARIBEL',
 'RAUL GALO',
 'VILMA LUZ',
 'LAURA LILIANA',
 'PATRICIA KARINA',
 'TERESA EMILIA',
 'MONICA GRACIELA',
 'CARMEN ANA',
 'VICTORINA ANGELICA',
 'HECTOR JOSE',
 'JOSE HERNAN',
 'MARIANA GABRIELA',
 'MIRYAM ESTEFANIA',
 'FRANCO LUIS',
 'OSCAR ALBERTO',
 'SANDRA LUZ',
 'PATRICIA FERNANDA',
 'TATIANA MARIA',
 'JORGE DANIEL',
 'ANA GABRIEL',
 'FLORENCIA RAQUEL',
 'ANDRES FEDERICO',
 'ANDREA CELESTE',
 'VERONICA BEATRIZ',
 'TERESA LILIANA',
 'SILVANA DEL CARMEN',
 'GLADIS ELVA',
 'ALICIA CATALINA',
 'ALFREDO',
 'ALFREDO FRANCISCO HERNANDO',
 'CARLOS REINALDO',
 'ENRIQUE GERMAN',
 'ERIKA SABRINA',
 'LIDIA RAMONA',
 'MARIA ALEJANDRA',
 'MARIA BELEN',
 'MARIA VIRGINIA',
 'VIVIAN ELIZABETH',
 'ADRIANA',
 'CESAR MAURICIO',
 'CESAR PATRICIO',
 'CLAUDIA',
 'FELIPE MARTIN',
 'JUAN PABLO',
 'PATRICIO IGNACIO',
 'ROSANA KARINA',
 'RAFAEL ALBERTO',
 'MARTIN JACOBO',
 'ELSA CRISTINA',
 'NELY SATURNINA',
 'ANA MARIA',
 'MAXIMILIANO ELIAS',
 'MONICA MARCELA',
 'ADRIAN ANTONIO',
 'ALBIO OSCAR',
 'ANALIA MERCEDES',
 'CRISTINA JULIA',
 'DAVID RAUL',
 'DEMETRIO RANEIRO',
 'EDUARDO MOISES',
 'FRANCISCA RAMONA',
 'GIMENA BELEN',
 'HORACIO ROLANDO',
 'HUGO EDUARDO',
 'ISAAC ABRAHAM',
 'JUAN FELIX',
 'JUAN JOSE',
 'JUAN PABLO',
 'LEANDRO ELIEL',
 'LUIS ALFREDO',
 'MARISOL ELIZABETH',
 'PASTORA DE LOS ANGELES',
 'RAQUEL DEL HUERTO',
 'ROCIO CANDELARIA',
 'ROLANDO OLIODORO',
 'ROSARIO DEL VALLE',
 'SAMIRA BELEN',
 'SEBASTIAN NICOLAS',
 'VICTOR HUGO',
 'FLAVIA MIGUELINA',
 'LYLIA MONICA',
 'CARMEN DOLORES DEL JESUS',
 'SERGIO ELISEO',
 'FACUNDO AGUSTIN',
 'MARGARITA LUISA',
 'CLAUDIO DAMIAN',
 'CRISTINA ELIZABETH',
 'ILOLAY',
 'JUAN NICOLAS',
 'JULIO CESAR',
 'LUCIANA GABRIELA',
 'MONICA DEL CARMEN',
 'NANCY BEATRIZ',
 'RAIMUNDO LAUREANO',
 'TATIANA NATALIA',
 'CECILIA LORENA',
 'ELIANA ROSARIO',
 'ELIANA SOLEDAD',
 'FANI ESTER',
 'GUILLERMO AMERICO',
 'JAVIER SEBASTIAN',
 'JORGE RUBEN',
 'MAXIMO ELIAS',
 'MAXIMO',
 'FRANCO DANIEL',
 'FERNANDO DANIEL',
 'ANIBAL HORACIO',
 'MARIA FLORENCIA',
 'MARTIN ALEJANDRO',
 'PAOLA JIMENA',
 'LUCIA FELISA',
 'MARIANA LAURA EVELIN',
 'JIMENA CECILIA',
 'MANUEL NICOLAS SEBASTIAN',
 'OLGA DANIELA',
 'PABLO DANIEL',
 'PAMELA ALEJANDRA',
 'RODOLFO',
 'SEBASTIAN',
 'VERÓNICA PAOLA DEL VALLE',
 'ETHEL ALICIA',
 'DANIEL ANGEL',
 'MARIA ZOE',
 'CECILIA MARIANA',
 'ABELINO ABEL',
 'ALEJANDRA LILIA RAQUEL',
 'ARACELI PAULA FLORENCIA',
 'AUGUSTO ABEL',
 'BRENDA CECILIA',
 'CARLOS ERNESTO',
 'DAIANA BELEN',
 'DARIO ENRIQUE',
 'EDUARDO JOSE',
 'EMILIANO MANUEL',
 'EMMA MARIA MERCEDES',
 'FEDERICO JOSE',
 'FERMINA RUFINA',
 'FERNANDA',
 'FERNANDO LEONIDAS',
 'HERNAN JOSE MANUEL',
 'JOSE ORLANDO',
 'LUISA MARIANA',
 'MARY ORTENCIA',
 'SILVIO NERY',
 'PATRICIA ELENA',
 'GONZALO AUGUSTO',
 'RODRIGO AGUSTIN',
 'HECTOR JORGE',
 'CESAR LUIS',
 'FLORENTINA ENEIDA',
 'JANET ELIZABETH NAHIR',
 'MARIO LUIS',
 'NAYRA GRISEL',
 'WILFREDO VIDAL',
 'ADRIAN JAVIER',
 'ANABEL FERNANDA',
 'ELOY FEDERICO',
 'GUILLERMO GONZALO',
 'HECTOR ORLANDO',
 'IVONNE ADELA',
 'JUAN JOSE',
 'JUSTINO GABRIEL',
 'LEANDRO JOAQUIN',
 'LEONARDO EZEQUIEL',
 'MABEL HAYDEE',
 'MAGDALENA DE LOS ANGELES',
 'NESTOR FAVIO',
 'OLGA BEATRIZ',
 'RAFAEL AGUSTIN',
 'RAFAEL RODRIGO',
 'SILVIA ESTER',
 'SOFIA ANAHI',
 'YESICA MARISEL',
 'GABRIELA BEATRIZ',
 'LUCIANA PAOLA',
 'MICAELA DENISE',
 'ADRIANA SILVIA',
 'CONDORI DIONICIO',
 'DINO FABRICIO',
 'EDILIA',
 'IRMA',
 'LINA VIVIANA DEL CARMEN',
 'LUCIA INES',
 'MABEL CARINA',
 'MARIA JOSÉ',
 'MARICEL ROMINA',
 'NATIVIDAD',
 'SAUL GENARO',
 'SERGIO RAFAEL',
 'ALBERTO EUGENIO',
 'GEORGINA LUCIANA',
 'CARLOS ALBERTO',
 'MERCEDES',
 'MARIA CELIA DEL CARMEN',
 'CLAUDIA ROSARIO',
 'CRISTIAN DAMIAN',
 'JUAN JOSÉ',
 'LUIS ANTONIO',
 'LUIS CESAR',
 'MARCELA GRACIELA',
 'SOFIA ALEJANDRA',
 'ANDREA VANESA',
 'ENZO MAXIMILIANO',
 'LEONARDO SEBASTIAN',
 'MARIA BEATRIZ',
 'MARIANA ELIZABETH',
 'MIGUEL',
 'TERESA VERONICA',
 'ALICIA ELIZABETH',
 'MARIA GABRIELA',
 'ALVARO GONZALO',
 'LEILA GISELA',
 'MAGDALENA',
 'ERNESTO RAUL',
 'PATRICIO',
 'IVETTE',
 'MARIA ALEJANDRA',
 'EDUARDO ARIEL',
 'MIRTHA VERONICA',
 'CARLOS RAMIRO',
 'LAURA CECILIA',
 'MARIA VICTORIA',
 'AGUSTIN LUCIANO',
 'ANGEL CUSTODIO',
 'FRANCO OSVALDO',
 'LEANDRO KEVIN',
 'LUCIANO CRISPIN',
 'ANA CLARA',
 'DANIEL GUSTAVO',
 'MARIA JOSE',
 'NATALIA EVELIN',
 'BALENTINA IRENE',
 'MARIA VIRGINIA',
 'ENZO REINALDO',
 'FRANCISCO MARTIN',
 'HORACIO VALENTIN',
 'JORGE HUGO',
 'LIDIA BEATRIZ',
 'MIGUEL ANGEL',
 'MONICA VIVIANA',
 'NOELIA VANESA EDITH',
 'RAQUEL ALEJANDRA',
 'ROSANA DEL HUERTO',
 'SILVIA CAROLINA',
 'MONICA JOSEFINA',
 'IRENIA',
 'CARMEN ROSA',
 'NOEMI DEL VALLE',
 'ALEJANDRO FEDERICO',
 'SUSANA MILAGRO',
 'OLGA INES',
 'RITA MABEL',
 'RUBEN EUGENIO',
 'ADRIANA CRISTINA',
 'SOFIA JUDITH',
 'GUILLERMO ROBERTO',
 'LILIANA DEL CARMEN',
 'LIDIA CRISTINA',
 'ARGELIA ARGENTINA',
 'FACUNDO MAXIMILIANO',
 'GERARDO EZEQUIEL',
 'ROMINA IVANA',
 'JORGE EDUARDO',
 'CESAR FERNANDO',
 'DAIANA MICAELA',
 'GUMERCINDO LEONCIO',
 'GUSTAVO VICENTE',
 'HECTOR LUIS',
 'HECTOR ORLANDO',
 'LAURA LILIANA',
 'MELISA VALERIA',
 'NAZARENO JESUS',
 'SONIA ROSANA',
 'ZULMA BETINA',
 'LORENA DIANA',
 'ARMANDO GABRIEL',
 'CIPRIANO',
 'CLARA INES',
 'CRISTIAN EMANUEL',
 'MARIANO',
 'MONICA GRISELDA',
 'RAMON SEBASTIAN',
 'ANTONELLA DENISE',
 'MIGUEL ALEJANDRO',
 'ANA DEL CARMEN',
 'JORGE ALBERTO',
 'JOSE MARIA',
 'JULIETA ASUNCION',
 'JULIO CESAR',
 'MAGDALENA',
 'MARTA JUANA',
 'MAURO GABRIEL',
 'MARIA TERESA',
 'MARIA LUCRECIA',
 'DOMINGO RAMON',
 'GABRIELA FERNANDA',
 'MAURICIO GABRIEL',
 'OMAR DOMINGO',
 'SONIA GRACIELA',
 'SONIA MABEL',
 'VALERIA YAMILA',
 'VIVIANA GISELA',
 'FELIPA',
 'GABRIELA MONICA',
 'GERARDO RAMÓN ANGEL',
 'MARCIA MARIA',
 'GUSTAVO JOSE',
 'MARTA SUSANA',
 'GILBERTO',
 'ESTEFANIA PAOLA',
 'HECTOR RENE',
 'HUGO REINALDO',
 'LUIS MARCELO',
 'MIGUEL MAXIMILIANO',
 'VALENTIN REINALDO',
 'VALERIA JUDITH',
 'MARIA FERNANDA',
 'AZUCENA NORMA',
 'MARCELO DANIEL',
 'MARIA MARTA DEL VALLE',
 'NICOLAS AGUSTIN',
 'FRANCO LEONEL',
 'FERNANDO DANIEL',
 'GERARDO DANIEL',
 'SOFIA',
 'NATALIA RUT',
 'ANA ESTER',
 'FRANCISCO',
 'IGNACIO',
 'RICARDO JOSE',
 'NOELIA LUJAN',
 'NATACHA SOLEDAD',
 'HAYDEE',
 'MARIA DEL VALLE',
 'AGUSTINA CELESTE',
 'CARLOS ALBERTO',
 'EMILIO EZEQUIEL',
 'GUSTAVO MARCELO',
 'LILIANA EMILCE',
 'NOEMI ALICIA',
 'RODRIGO EZEQUIEL',
 'VERONICA ANGELINA',
 'ZULMA SUSANA',
 'ALEJANDRO',
 'BRIAN EMMANUEL',
 'CARLOS ALEJANDRO',
 'ELIZABETH RAQUEL',
 'MARIA BELEN',
 'MARTIN',
 'MELANI AZUL',
 'NELLY ROSA',
 'NORMA ELISA',
 'ANALIA CRISTINA',
 'NESTOR DARIO',
 'ANA MARCELA DEL PILAR',
 'BERTA CLAUDINA',
 'ANDREA TATIANA',
 'ERNESTO',
 'MARCELO',
 'MARIA BELEN',
 'MARIA JOSE',
 'NICOLAS',
 'GUSTAVO JAVIER',
 'KAREN ELIZABETH',
 'ANDREA CAROLINA',
 'GABRIELA BEATRIZ',
 'SANDRA C',
 'SILVINA MARIELA',
 'SOFIA',
 'CLAUDIA CECILIA',
 'ILDA FABIANA',
 'MARCELO ADRIAN',
 'MAXIMA TEODOSIA',
 'MIRIAM DEL VALLE',
 'RAMON EVARISTO',
 'ROSALIA ASUNCION',
 'WILFREDO',
 'EDUARDO JAVIER',
 'JORGE RODRIGO',
 'MABEL',
 'MARIA DEL HUERTO',
 'MARIA LAURA',
 'MARIA LOURDES',
 'MARIA ROXANA',
 'MARIA SILVIA',
 'ERLINDA',
 'BRUNO ALBERTO',
 'NORA RITA',
 'SILVIA ADRIANA',
 'SUSANA MATILDE',
 'FERNANDO MARCELO',
 'MARIA PATRICIA',
 'ALEJANDRA ELIZABETH',
 'ALFREDO FABIAN',
 'ANALIA ESPERANZA',
 'AXEL ALBERTO',
 'CARLOS JAVIER',
 'ELIANA NOELIA',
 'EVELIN ELIANA',
 'FACUNDO GUSTAVO',
 'GIMENA ABIGAIL',
 'GONZALO RENE',
 'JORGE DANIEL',
 'JUAN CARLOS',
 'JUSTINA',
 'LEONEL ALBERTO',
 'LUIS ALBERTO',
 'MARIANA ESTER',
 'MARINA AYLÉN GISEL',
 'MIGUEL ANGEL',
 'MIRIAM DEL VALLE',
 'PABLO',
 'RAFAEL FLORENCIO',
 'JULIO CESAR',
 'YENY MARLENY',
 'AGUSTINA',
 'GUILLERMO MIGUEL',
 'JORGE EDUARDO',
 'JORGE SEBASTIAN',
 'MARIA DEL ROSARIO',
 'NATALIA',
 'ADRIANA ELISA',
 'LUCIANO',
 'EDUARDO GUSTAVO',
 'FERNANDO MARCELO',
 'MANUEL ESTANISLAO',
 'MARIA BELEN',
 'ELSA ADRIANA',
 'NELIDA MELINDA',
 'ANDRES ARIEL',
 'ANDRES RUBEN',
 'CAROLINA ANDREA',
 'CLAUDINA MERCEDES',
 'EDELMIRA SONIA',
 'EMILIO ADRIAN',
 'EVELIN ESTEFANIA',
 'FERNANDO SANTOS',
 'JAVIER DAVID',
 'JULIO ALEJANDRO',
 'KAREN FABIANA',
 'MARIA DEL ROSARIO',
 'MARTIN JESUS',
 'MICAELA PAOLA',
 'PAULA SUSANA',
 'CELESTINO TEOFILO',
 'CESAR ZACARIAS',
 'ELOY',
 'FANNY DORA',
 'GASTON',
 'JORGE MARCELO',
 'LUCIA MICAELA',
 'LUIS EDUARDO',
 'MALENA',
 'MONICA ALEJANDRA',
 'MACARENA ABIGAIL',
 'LETICIA',
 'MAGDALENA',
 'PAULA ALEJANDRA',
 'MARIA TERESA',
 'FRANCO RAFAEL',
 'MAURO RICARDO',
 'JUAN MANUEL',
 'LORENA VIRGINIA',
 'LUCIA VERONICA',
 'MARTA GRACIELA',
 'PAULA ISABEL',
 'PEDRO OMAR',
 'SANTIAGO',
 'RUBEN OSCAR',
 'LIDIA EDITH',
 'ROSA PAULINA',
 'SILVIA LILIA',
 'ANA MIRTA',
 'ANDRES MARCELO',
 'LORENZO',
 'ORNELLA',
 'GABRIEL ENRIQUE',
 'GERMAN GUILLERMO',
 'JULIAN LEOPOLDO',
 'LEOPOLDO JUAN',
 'MARIA LUCIANA',
 'JOAQUIN SEBASTIAN',
 'MARIA PIA',
 'RODRIGO SEBASTIAN',
 'ANDREA LUCIANA',
 'DANIEL ALEJANDRO',
 'SILVIA NOELIA',
 'ANA RAQUEL',
 'LAURA EMILIA',
 'MARIA SOLEDAD',
 'MARIA VANESA',
 'CECILIA INES',
 'MARIA SILVINA',
 'NATALIA MARIA EUGENIA',
 'MARIANA ROSALIA',
 'JAVIER GUILLERMO',
 'GLADYS ROSA',
 'MARIA LUJAN',
 'MARIO JAVIER',
 'JOAQUIN',
 'MARCOS',
 'MARIA EUGENIA',
 'CRISTIAN FABIAN',
 'GERMAN AGUSTIN',
 'LIAN GABRIEL',
 'MARIO CESAR',
 'PAULA LORENA',
 'DANIEL',
 'FLORENCIA',
 'GONZALO DANIEL',
 'GUILLERMO',
 'PATRICIA DEL VALLE',
 'GUILLERMO MARTIN',
 'BENJAMIN JORGE EMILIANO',
 'FACUNDO EZEQUIEL',
 'IGNACIO GABRIEL',
 'ANDRES ERNESTO',
 'CAROLINA MARIA DE LOS ANGELES',
 'JAZMIN LUCRECIA DEL ROSARIO',
 'JOSE AURELIO',
 'SERGIO DANIEL',
 'SERGIO JOSE ANTONIO',
 'VANINA ALEJANDRA',
 'JIMENA',
 'MARÍA INÉS',
 'GUSTAVO ALFREDO',
 'GUSTAVO TOUFIK',
 'LEILA BEATRIZ',
 'MARIANA BELEN',
 'CARLOS MARCELO',
 'MARIA GRACIELA DEL VALLE',
 'MARIA AMELIA',
 'MARIEL ANALIA',
 'MARIA ALEJANDRA',
 'MANUEL FLORENTINO',
 'MONICA ADRIANA',
 'ROLANDO HORST',
 'EDGARDO ISMAEL',
 'MARTIN AMADO',
 'MARTIN IVAN',
 'MICHELA KARINA',
 'LIS',
 'MARTA LUCIA',
 'CORNELIA',
 'DANIEL HECTOR',
 'JOSE LUIS',
 'MARCELINA VENTURA',
 'VENANCIO',
 'YESICA AYELEN',
 'ZOILA MARIA',
 'ELENA MERCEDES',
 'INES BEATRIZ',
 'BELÉN',
 'JORGE EDUARDO',
 'MARIANO',
 'MARTIN',
 'ROCIO',
 'ALBERTO ROQUE',
 'LILIANA PATRICIA',
 'SEBASTIAN AGUSTIN',
 'BLANCA ELISA',
 'ELPIDIO TOMAS',
 'CESAR GUSTAVO',
 'CLAUDIO JAVIER',
 'LIDIA CAROLINA',
 'MARIA TERESA',
 'RAUL ALEJANDRO',
 'ALBERTO MIGUEL',
 'HUGO DANIEL',
 'NATACHA',
 'SANTIAGO',
 'CATALINA',
 'CECILIA RUTH',
 'GASTON',
 'LUIS ANTONIO',
 'VALENTINA',
 'ANTONIA ANGELA',
 'CARLOS FERNANDO',
 'DANIEL ALEJANDRO',
 'DARIO MARTIN',
 'DIONISIA GUADALUPE',
 'ERMELINDO JUSTINO',
 'EUGENIA SOLEDAD',
 'GABRIELA LILIANA',
 'GINA MARIA',
 'GLORIA NOEMI',
 'GRACIELA ISABEL',
 'GUSTAVO FERNANDO',
 'HEBE ALDANA',
 'IVONNE MARIANELA',
 'JAVIER ALFREDO',
 'JIMENA INES',
 'JULIO CESAR',
 'LAURA SILVINA',
 'LILIANA DEL CARMEN',
 'MARISA ELIZABETH',
 'MATIAS NICOLAS',
 'NELIDA NOEMI',
 'OMAR SANTOS',
 'PATRICIA FABIANA',
 'SILVIA EDITH',
 'TEOVALDO',
 'ZULEMA BELEN',
 'MALENA RUTH',
 'MARIA CATALINA',
 'PEDRO DAMIAN TEOBALDO',
 'FABIANA MARIEL',
 'LILIANA SOLEDAD',
 'LUIS GABRIEL',
 'BIVIANA CANDELARIA',
 'CLAUDIA DINA',
 'COSME DAMIAN',
 'ELIANA LORENA',
 'ERNESTO RAMIRO',
 'GUSTAVO RAUL',
 'JAVIER REINALDO',
 'JOAQUIN IGNACIO DANIEL',
 'JOAQUIN RICARDO',
 'JUAN IGNACIO',
 'JULIANA EVELIN ABIGAIL',
 'JULIO CESAR',
 'LAURA EUGENIA',
 'LUIS ALBERTO',
 'MARIANA MARIELA',
 'MARTA BEATRIZ',
 'NESTOR ANTONIO',
 'RENE GABRIEL',
 'RICARDO',
 'RODRIGO ISMAEL',
 'MARIA DANIELA',
 'MARIA SOFIA',
 'MARIA FLORENCIA',
 'GASTON',
 'IGNACIO',
 'SOLANA',
 'FANNY DEL CARMEN',
 'GUSTAVO FERNANDO',
 'MARIA TERESA',
 'MARIA VIRGINIA',
 'GRACIELA LIDIA',
 'JUAN ANTONIO',
 'ALBERTO ENRIQUE',
 'MARTIN',
 'MARIA CELIA',
 'ROCIO',
 'ALEXIS GABRIEL',
 'MARIA ELENA',
 'TERESITA DEL CARMEN',
 'YESICA PAOLA',
 'MARIA DE LOS ANGELES',
 'PABLO SEBASTIAN',
 'ADRIAN ROBERTO',
 'ADRIANA MICAELA',
 'ANDREA GABRIELA',
 'BRENDA MELINDA',
 'CESAR ENRIQUE',
 'CESAR GONZALO',
 'CLAUDIA SELVA',
 'CRISTIAN EZEQUIEL',
 'CRISTINA ISABEL',
 'DANIEL ALEJANDRO',
 'DAVID ERNESTO',
 'FANNY',
 'FERNANDO LUIS',
 'FERNANDO VENANCIO',
 'FRANCO LEONEL',
 'GLADYS EDMUNDA',
 'ISIDRO',
 'JUAN DIONICIO',
 'JUAN JAVIER',
 'JULIO HUMBERTO',
 'JULIO OSCAR',
 'LUIS CASTULO',
 'MARCOS RENATO',
 'MARIANELA YANINA',
 'NADIA LUCIANA',
 'NELSON GUSTAVO',
 'NICOLAS ISAAC',
 'NORMA VERONICA',
 'TERESA BEATRIZ',
 'CARMEN YOSILDA',
 'LEONOR MERCEDES',
 'AGUSTINA FERNANDA',
 'CECILIA INÉS',
 'EFRAIN EDUARDO',
 'EFRAIN EMILIO',
 'GISELA LORENA',
 'LAURA VERONICA',
 'LILIANA TERESA',
 'MARIA CECILIA',
 'MIGUEL ANGEL',
 'PABLO EDGARDO',
 'PABLO FACUNDO',
 'PAULA GRACIELA',
 'SILVIA SANDRA',
 'GRACIELA IVONE',
 'JUANA HORTENCIA',
 'MARTINA ELEONOR',
 'NORMA ELVIRA',
 'VERONICA LETICIA',
 'MARTHA NELIDA',
 'SOFIA ESPERANZA',
 'NORA EDITH',
 'NATALIA VANESA',
 'NESTOR OSCAR',
 'ANA DE LOS ANGELES',
 'MARIANELA',
 'RAUL JOSE',
 'ALICIA MARGARITA BEATRIZ',
 ...]

In [77]:
datos['SECCION'].value_counts()

SECCION
CIUDAD-PRINCIPAL    213621
PUEBLO-ACUATICO      75207
ZONA-FABRICA         65617
CIUDAD-VERDE         62533
PUEBLO-DE-METAL      44500
PUEBLO-OASIS         17523
ZONA-VOLCANES        14661
PUEBLO-ANTIGUO       14186
CIUDAD-MISTICA       10528
PUEBLO-LEJANO        10284
ZONA-SANTUARIO        4855
PUEBLO-NATURISTA      4201
PUEBLO-NEVADAS        3065
PUEBLO-DESCANSO       2663
ZONA-MONTAÑAS         2550
PUEBLO-LAGUNAS        1508
Name: count, dtype: int64

In [78]:
datos.groupby('SECCION').size()

SECCION
CIUDAD-MISTICA       10528
CIUDAD-PRINCIPAL    213621
CIUDAD-VERDE         62533
PUEBLO-ACUATICO      75207
PUEBLO-ANTIGUO       14186
PUEBLO-DE-METAL      44500
PUEBLO-DESCANSO       2663
PUEBLO-LAGUNAS        1508
PUEBLO-LEJANO        10284
PUEBLO-NATURISTA      4201
PUEBLO-NEVADAS        3065
PUEBLO-OASIS         17523
ZONA-FABRICA         65617
ZONA-MONTAÑAS         2550
ZONA-SANTUARIO        4855
ZONA-VOLCANES        14661
dtype: int64

In [ ]:
# estamos mostrando una lista de nombre de las personas que viven en cada seccion
datos.groupby('SECCION')['NOMBRE'].apply(list)

SECCION
CIUDAD-MISTICA      [ABEL REYNALDO, ABIGAIL MICAELA, AGUEDA TERESA...
CIUDAD-PRINCIPAL    [ROXANA SILVANA, ANGÉLICA HERMINIA, ALVARO EZE...
CIUDAD-VERDE        [RAMON JESUS, LILIANA CARMEN, MATIAS SEBASTIAN...
PUEBLO-ACUATICO     [LILIANA MARCELA, NATIVIDA, GRISELDA GABRIELA,...
PUEBLO-ANTIGUO      [ADRIANA ROSANA, AGUSTIN, ALVARO RODRIGO, AMAD...
PUEBLO-DE-METAL     [ANDRÉS HÉCTOR ARNALDO, ALDO GABRIEL, ESTEBAN ...
PUEBLO-DESCANSO     [JAVIER MARCELO, MAXIMA, MARIA CRISTINA, BERTA...
PUEBLO-LAGUNAS      [ARIEL, BALTAZAR ENRIQUE ALBERTO, CLAROS ENRRI...
PUEBLO-LEJANO       [ARNALDO MAURO, ESCOLASTICO, FABIOLA FERMINA, ...
PUEBLO-NATURISTA    [LIDIA PATRICIA, DARIO HUMBERTO, NADIA VALERIA...
PUEBLO-NEVADAS      [JOSE MARIA, ADELA TIMOTEA, AMANDA ELISA, ANAL...
PUEBLO-OASIS        [RAUL MANUEL, BELEN ZULEMA, BETSABE AMERICA, L...
ZONA-FABRICA        [CELINA ABIGAIL, PEDRO SERAFIN, TOMAS AGUSTIN,...
ZONA-MONTAÑAS       [ELIO ALDO, TEOFILA, ALFREDO SERAFIN, ANIBAL F...
ZONA-SANTUARIO      [AYME MARIEL, CELESTINA NIEVES, EMILIO, GLADYS...
ZONA-VOLCANES       [ROBERTO EMILIO, SELVA MARIA, JOSE A., ALICIA ...
Name: NOMBRE, dtype: object

In [80]:
datos.groupby('SECCION')['CLASE'].mean()

SECCION
CIUDAD-MISTICA      1960.550722
CIUDAD-PRINCIPAL    1961.324711
CIUDAD-VERDE        1951.663730
PUEBLO-ACUATICO     1956.350007
PUEBLO-ANTIGUO      1956.349570
PUEBLO-DE-METAL     1949.329865
PUEBLO-DESCANSO     1971.080360
PUEBLO-LAGUNAS      1974.479443
PUEBLO-LEJANO       1970.922987
PUEBLO-NATURISTA    1967.948584
PUEBLO-NEVADAS      1960.913866
PUEBLO-OASIS        1964.724248
ZONA-FABRICA        1950.187711
ZONA-MONTAÑAS       1977.920000
ZONA-SANTUARIO      1951.983110
ZONA-VOLCANES       1953.910920
Name: CLASE, dtype: float64

In [81]:
datos.groupby('SECCION')['GENERO'].size()

SECCION
CIUDAD-MISTICA       10528
CIUDAD-PRINCIPAL    213621
CIUDAD-VERDE         62533
PUEBLO-ACUATICO      75207
PUEBLO-ANTIGUO       14186
PUEBLO-DE-METAL      44500
PUEBLO-DESCANSO       2663
PUEBLO-LAGUNAS        1508
PUEBLO-LEJANO        10284
PUEBLO-NATURISTA      4201
PUEBLO-NEVADAS        3065
PUEBLO-OASIS         17523
ZONA-FABRICA         65617
ZONA-MONTAÑAS         2550
ZONA-SANTUARIO        4855
ZONA-VOLCANES        14661
Name: GENERO, dtype: int64